@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full-screen layout */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Optional: Set a default background color for body (dark mode compatible) */
body {
  @apply bg-black text-white;
}

/* Custom CSS variables */
:root {
  --border: 220 14% 96%;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

.dark {
  --border: 217 19% 27%;
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}
